
.content main .slideshow-container {
  max-width: 1000px;
  width: 90%;
  border: 1px solid #c4c4c4;
  padding: 20px;
  position: relative;
  margin: auto;
}

.content main .prev, .content main .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /*Perdorimi i margjinave dhe padding ne CSS*/
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content main .prev {
  left: 20px;
}

.content main .next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.content main .prev:hover, .content main .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content main .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content main .text:hover {
  background: black;
}

.content main .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 20px;
}

.content main .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.content main .active, .content main .dot:hover {
  background-color: #717171;
}

.content main .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.content main .fade img {
  width: 100%;
  height: 500px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.content main .quote {
  text-align: center;
}
.content main .quote p{
  text-align: center;
}

.video {
    display: flex;
    justify-content: center;
    margin: 30px 55px;
    border-radius: 10px;
    background: linear-gradient(gray,black);
    
}

/*Perdorimi i CSS per vendosje te tekstit*/
#message:before{
 content : "Little moments big memories";
}

.content main .quote hr {
  margin: 30px auto;
  height: 1px;
  border: none;
  width: 90%;
  /*Perdorimi i gradientit linear*/
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #c4c4c4));
}

.content main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;

}

.content main .cards .card {
  margin: 15px;
  width: 200px;
  box-shadow: 0 0 10px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.content main .cards .card img {
  padding: 10px;
}

.content main .cards .card h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.content main .cards .card a {
  text-decoration: none;
}

.content main .cards .card a span {
  text-transform: uppercase;
  color: #ebc563;
  font-size: 14px;
}

.content main .cards .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content main .cards .cardContainer {
  padding: 2px 16px;
}


/*pageUpDirecter Eshte zhvendosur tek style.css*/